<mat-sidenav-container class="app-mat-side-nav">
  <mat-sidenav #sidenav (click)="sidenav.toggle()" [(opened)]="opened">
    <div class="app-side-nav-container">
      Test side nav
      <div class="app-side-nav-content">
        <mat-list>
          <mat-list-item class="app-side-nav-item" routerLink="/covid">Covid</mat-list-item>
          <mat-list-item class="app-side-nav-item">Kinh doanh</mat-list-item>
          <mat-list-item class="app-side-nav-item">Khoa học</mat-list-item>
          <mat-list-item class="app-side-nav-item">Giải trí</mat-list-item>
          <mat-list-item class="app-side-nav-item">Thể thao</mat-list-item>
          <mat-list-item class="app-side-nav-item">Pháp luật</mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      [sideNavOpened]="opened"
      (sideNavOpenedChanged)="opened = $event"
    ></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
