<mat-toolbar class="app-header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="onToggleSideNav(!sideNavOpened)">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <ul class="nav-bar">
    <li class="nav-bar-item" routerLink="/covid">Covid</li>
    <li class="nav-bar-item">Kinh doanh</li>
    <li class="nav-bar-item">Khoa học</li>
    <li class="nav-bar-item">Giải trí</li>
    <li class="nav-bar-item">Thể thao</li>
    <li class="nav-bar-item">Pháp luật</li>
  </ul>
</mat-toolbar>
